#parent{
    border: 2px solid black;
    width: 800px;
    height: 800px;
    display: flex;
    transform: skewY(20deg)

}

/* .child{
    border: 2px solid black;
    width: 100px;
    height: 100px;

}
.one{
    order: 3;
}

.two{
    order: 1;
}

.three{
    order: 2;
}

.five{
    order: -1;
} */