div{
    border: 5px solid black;
    width: 200px;
    height: 200px;      
}

p{
    padding: 50px;
    display: none;
}

div:hover p{
    display: block;
    background-color: black;
    color: red;   
}